/* body {
    background-color: yellow;
    margin: 0;
    padding: 0;
  }

  h3 {
    color: green;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 18px;
  }

 
#Aboutus {
    background-color: green;
} */

body {
    background-color: blue;
}
li {
    font-size: 18px;
    background-color: orange;
}